<!DOCTYPE html>
<html class="main">
<head>
  <!-- Bootstrap Core CSS -->
  <!--<link href="../../assets/stylesheets/bootstrap.min.css" rel="stylesheet">-->
  <!-- Includes FontAwesome -->
  <!--<link rel="stylesheet" href="../../assets/stylesheets/font-awesome.min.css" />-->

  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">-->
  <!--<link rel="stylesheet" href="../../assets/stylesheets/bootstrap-responsive.min.css" />-->

</head>
<body>

<div class="container">
  <div class="row">
    <div class="span3">
      <div class="well">

        <div class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <!--<i class="icon-shopping-cart"></i>-->
            <!--<h1 class="cart-text">-->
              <%= render 'layouts/cart_text' %>
            <!--</h1>-->

            <!--<b class="caret"></b></a>-->
          </a>
          <div class="dropdown-menu well" role="menu" aria-labelledby="dLabel">
            <p>Item x 1 <span class="pull-right">$333.33</span></p>
            <p>Item x 1 <span class="pull-right">$333.33</span></p>
            <p>Item x 1 <span class="pull-right">$333.33</span></p>
            <a href="#" class="btn btn-primary">Checkout</a>
          </div>
        </div>

      </div>

      <div class="well">
        <ul class="nav nav-list">
          <li class="nav-header">Sidebar</li>
          <li class="active">
            <a href="#">Link</a>
          </li>
          <li>
            <a href="#">Link</a>
          </li>
          <li>
            <a href="#">Link</a>
          </li>

          <li class="nav-header">Sidebar</li>
          <li>
            <a href="#">Link</a>
          </li>
          <li>
            <a href="#">Link</a>
          </li>
          <li>
            <a href="#">Link</a>
          </li>

          <li class="nav-header">Sidebar</li>
          <li>
            <a href="#">Link</a>
          </li>
          <li>
            <a href="#">Link</a>
          </li>
          <li>
            <a href="#">Link</a>
          </li>
        </ul>
      </div>


      <div class="well">
        <h4>Sort</h4>
        <form>
          <label class="radio">
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
            Sort 1
          </label>
          <label class="radio">
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            Sort 2
          </label>
          <button class="btn btn-primary pull-right" type="submit">Sort</button>
        </form>
      </div>

    </div>

    <div class="span9">
      <div class="hero-unit">
        <h1 class="">Special Offer</h1>
        <p class="">here is the best offer of the month! Do not loose it!</p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more »</a></p>
      </div>
      <% @product.each_slice(3) do |product_row| %>
          <% @instagram.each_slice(3) do |instagram_row| %>
              <ul class="thumbnails">
                <% product_row.each do |product| %>

                    <li class="span3">
                      <div class="thumbnail">
                        <%= link_to image_tag(product.product_photo.url(:home)), product %>

                        <div class="label">
                          <div class="price">
                            $<%= product.price %>0
                          </div><div class="title">
                          <a class="description" href="#"> <%= link_to product.description, product %></a>
                        </div>

                        </div>
                <% end %>

                </li>
              </ul>
              <ul class="thumbnails">
                <% instagram_row.each do |instagram| %>

                    <li class="span3">
                      <div class="thumbnail">
                        <%= image_tag instagram.images.standard_resolution.url %>

                      </div>
                <% end %>

                </li>
                <li class="span3">
                  <div class="thumbnail">
                    <img src="holder.js/300x200" alt="">
                    <div class="caption">
                      <h4>Thumbnail label</h4>
                      <p>Euro 100,00</p>
                      <a class="btn btn-primary" href="#">View</a>
                      <a class="btn btn-success" href="#">Add to Cart</a>
                    </div>
                  </div>
                </li>
              </ul>
          <% end %>
      <% end  %>
      <!--<div class="pagination">
        <ul>
          <li class="disabled"><span>Prev</span></li>
          <li class="disabled"><span>1</span></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </div> -->
      <%= paginate @product %>
    </div>
  </div>
  <h3 class="text-center">Products for Sale</h3>

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <% @products.each do |product| %>
          <%= render  "products/product_row", product: product, order_item: @order_item %>
      <% end %>
    </div>
  </div>
  <%= paginate @products %>
  <br>

</div>

<script src="../../assets/javascripts/jquery-1.10.0.min.js"></script>
<script src="../../assets/javascripts/bootstrap.min.js"></script>
<script src="../../assets/javascripts/holder.js"></script>
</body>



</html>